In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 1. Read the dataset to the python environment.

In [2]:
data=pd.read_excel(r'C:\Users\75833\Downloads\iris (1).xls')

In [3]:
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [4]:
data.shape

(150, 5)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
data.describe()

               SL          SW          PL          PW
count  143.000000  144.000000  144.000000  150.000000
mean     5.855944    3.049306    3.756250    1.198667
std      0.828168    0.430644    1.761306    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

# 2. Do necessary pre-processing steps.

In [27]:
data.dtypes

SL                float64
SW                float64
PL                float64
PW                float64
Classification      int32
dtype: object

In [28]:
data.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [29]:
for i in ['SL','SW','PL']:
    data[i]=data[i].fillna(data[i].median())

In [30]:
data.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [31]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
data['Classification']= label_encoder.fit_transform(data['Classification'])

In [32]:
data.head()

    SL   SW   PL   PW  Classification
0  5.1  3.5  1.4  0.2               0
1  4.9  3.0  1.4  0.2               0
2  5.8  3.2  1.3  0.2               0
3  4.6  3.1  1.5  0.2               0
4  5.0  3.6  1.4  0.2               0

In [33]:
data.tail()

      SL   SW    PL   PW  Classification
145  6.7  3.0  5.20  2.3               2
146  6.3  2.5  5.00  1.9               2
147  6.5  3.0  4.35  2.0               2
148  6.2  3.4  5.40  2.3               2
149  5.9  3.0  5.10  1.8               2

# 3. Find out which classification model gives the best result to predict iris species.(also do random forest algorithm)

In [34]:
y=data['Classification']
x=data.drop(['Classification'],axis=1)

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [36]:
# logistic regression
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\75833\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [37]:
print('accuracy is:', model.score(x_test,y_test)*100)

accuracy is: 97.77777777777777

In [38]:
#kNN
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier()
model.fit(x_train,y_train)

KNeighborsClassifier()

In [39]:
print('accuracy is:', model.score(x_test,y_test)*100)

accuracy is: 95.55555555555556

In [40]:
#Decision tree
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [41]:
print('accuracy is:', model.score(x_test,y_test)*100)

accuracy is: 100.0

In [42]:
#random forest algorithm
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()

In [23]:
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)

In [24]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [25]:
print('accuracy is:',accuracy_score(y_test,y_pred)*100)

accuracy is: 100.0

In [26]:
print('confusion matrix is:',confusion_matrix(y_test,y_pred))

confusion matrix is: [[19  0  0]
 [ 0 13  0]
 [ 0  0 13]]

# Here, Decision tree classifier and random forest algorithm gives the best result to predict iris species.